
.col1{
    background-color: rgb(187, 223, 188);
    color:rgb(102, 129, 65)
}
.col2{
    background-color: rgb(211, 245, 212);
    color:rgb(102, 129, 65)
}
.col3{
    background-color: rgb(187, 223, 188);
    color:rgb(102, 129, 65)
}

